+++
title = "CAMGDP"
linkTitle = "Портал Гендерных Данных Центральной Азии и Монголии"

+++

{{< blocks/cover title="CAMGDP: Портал Гендерных Данных Центральной Азии и Монголии" image_anchor="top" height="full" color="dark" text-color="primary" >}}
<div class="mx-auto">
 <p class="text-danger">
Путеводитель по ресурсам гендерных данных по странам Казахстана, Кыргызстана, Монголии, Таджикистана, Туркменистана и Узбекистана
 </p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Портал Гендерных Данных Центральной Азии и Монголии (CAMGDP) предназначен для помощи ученым, исследователям, активистам, студентам и другим гражданам в поиске гендерных данных по странам Центральной Азии и Монголии. На портале собраны источники количественных и качественных данных, информационные сайты, публикации в СМИ и организации различного уровня от международного до местного, работающие в Казахстане, Кыргызстане, Таджикистане, Туркменистане, Узбекистане и Монголии. Выделяя местные источники для международной аудитории и предоставляя интегрированный портрет ряда источников в этих странах, мы надеемся, что CAMGDP будет полезен для глобальной аудитории.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa fa-book" title="Руководствы" url="/guides/" %}}
Прочтите наши руководства по ресурсам CAMGDP.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-globe" title="Источники" url="/sources/" %}}
Просмотрите или выполните поиск по полному списку ресурсов.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Предложения приветствуются!" url="https://github.com/ryandata/camgdp_docsy" %}}
Исходный код и материалы на **GitHub**. Отправьте «pull request» или свяжитесь с нами по ссылкам в нижнем колонтитуле.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Кредит изображения</h3>
Фоновое изображение, созданное с помощью <a href="https://www.mapchart.net/">MapChart</a>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Release Information</h3>
This is release 0.1 of CAMDGP, dated 2023-02-22
</div>

{{< /blocks/section >}}
