+++
title = "CAMGDP"
linkTitle = "Central Asia and Mongolia Gender Data Portal"
+++

{{< blocks/cover title="Welcome to CAMGDP: the Central Asia and Mongolia Gender Data Portal" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">A guide to gender-related data resources on the countries of Kazakhstan, Kyrgyzstan, Mongolia, Tajikistan, Turkmenistan, and Uzbekistan</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Central Asia and Mongolia Gender Data Portal (CAMGDP) is a resource created by the Rutgers University - New Brunswick Libraries to assist scholars, academics, activists, and students in finding gender-related data on Central Asia and Mongolia. We compile quantitative and qualitative sources, informational websites, media publications, and various level organizations that work in Kazakhstan. Kyrgyzstan, Tajikistan, Turkmenistan, Uzbekistan, and Mongolia. Our focus on gendered data comes from personal research interests and observations of the lack of gender-related data portals on Central Asia and Mongolia.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="CAMGDP!" %}}
CAMGDP coming soon!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Suggestions welcome!" url="https://github.com/ryandata/camgdp_docsy" %}}
Background materials on **GitHub**. Submit a pull request or contact us via the links in the footer.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-mastodon" title="Follow us on Mastodon!" url="https://mastodon.social/@ryandata" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fa-lightbulb" title="CAMGDP!" %}}
CAMGDP coming soon!

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Suggestions welcome!" url="https://github.com/ryandata/camgdp_docsy" %}}
Background materials on **GitHub**. Submit a pull request or contact us via the links in the footer.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-mastodon" title="Follow us on Mastodon!" url="https://mastodon.social/@ryandata" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
