+++
title = "CAMGDP"
linkTitle = "Central Asia and Mongolia Gender Data Portal"
+++

{{< blocks/cover title="CAMGDP: the Central Asia and Mongolia Gender Data Portal" image_anchor="top" height="full" color="dark" text-color="primary" >}}
<div class="mx-auto">
	<p class="text-light">
		A guide to gender-related data resources on the countries of Kazakhstan, Kyrgyzstan, Mongolia, Tajikistan, Turkmenistan, and Uzbekistan</p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Central Asia and Mongolia Gender Data Portal (CAMGDP) is designed to assist scholars, academics, activists, students, and other citizens in finding gender-related data on the countries of Central Asia and Mongolia. The portal compiles quantitative and qualitative data sources, informational websites, media publications, and organizations of various levels ranging from the international to the local that work in Kazakhstan, Kyrgyzstan, Tajikistan, Turkmenistan, Uzbekistan, and Mongolia. By highlighting local sources to an international audience, and providing an integrated portrait of a range of sources across these countries, we hope that CAMGDP will be useful to a global audience.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa fa-book" title="Guides" url="/about/" %}}
Read our guides to the resources on CAMGDP
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-globe" title="Sources" url="/sources/" %}}
Browse or search the full listing of resources
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Suggestions welcome!" url="https://github.com/ryandata/camgdp_docsy" %}}
Source code and materials on **GitHub** -- submit a pull request or contact us via the links in the footer
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Image Credit</h3>
Background image created via <a href="https://www.mapchart.net/">MapChart</a>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Release Information</h3>
This is <a href="/release">release</a> 0.3 of CAMGDP, dated 2024-05-24
</div>

{{< /blocks/section >}}
