+++
title = "CAMGDP"
linkTitle = "Орталық Азия және Моңғолия гендерлік деректер порталы"

+++

{{< blocks/cover title="CAMGDP: Орталық Азия және Моңғолия гендерлік деректер порталы" image_anchor="top" height="full" color="dark" text-color="primary" >}}
<div class="mx-auto">
 <p class="text-light">
Қазақстан, Қырғызстан, Моңғолия, Тәжікстан, Түрікменстан және Өзбекстан елдері үшін гендерлік деректер ресурстары бойынша жөнсілтеме
 </p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Орталық Азия және Моңғолиядағы гендерлік деректер порталы (CAMGDP) ғалымдарға, зерттеушілерге, белсенділерге, студенттерге және басқа да азаматтарға Орталық Азия және Моңғолия елдерінің гендерлік деректерін табуға көмектесу үшін жасалған. Портал сандық және сапалық деректердің, ақпараттық сайттардың, бұқаралық ақпарат құралдарындағы және Қазақстанда, Қырғызстанда, Тәжікстанда, Түркіменстанда, Өзбекстанда және Моңғолияда жұмыс істейтін халықаралық деңгейден жергілікті деңгейге дейінгі әртүрлі ұйымдардағы жарияланымдарды жинақтайды. Халықаралық аудитория үшін жергілікті дереккөздерді бөліп көрсету және осы елдердегі бірқатар дереккөздердің біріктірілген портретін ұсыну арқылы біз CAMGDP жаһандық аудитория үшін пайдалы болады деп үміттенеміз.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa fa-book" title="Гидтер" url="/guides/" %}}
CAMGDP ресурстық жөнсілтемелерiмiзды оқыңыз
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-globe" title="Дереккөздер" url="/sources/" %}}
Ресурстардың толық тізімін қараңыз немесе іздеңіз
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Ұсыныстар қабылданады!" url="https://github.com/ryandata/camgdp_docsy" %}}
Бастапқы код және материалдар GitHub сайтында бар -- «Pull request» жіберіңіз немесе төменгі деректемедегі сілтемелер арқылы бізге хабарласыңыз
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Сурет авторлығы</h3>
<a href="https://www.mapchart.net/">MapChart</a> көмегімен жасалған фондық сурет
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Шығарылым туралы ақпарат</h3>
Бұл 2024-05-24 CAMGDP 0.3 <a href="/release">шығарылымы</a>
</div>

{{< /blocks/section >}}
