+++
title = "CAMGDP"
linkTitle = "Markaziy Osiyo va Mongoliya Gender Ma'lumotlari Portali"

+++

{{< blocks/cover title="CAMGDP: Markaziy Osiyo va Mongoliya Gender Ma'lumotlari Portali" image_anchor="top" height="full" color="dark" text-color="primary" >}}
<div class="mx-auto">
 <p class="text-light">
Qozog'iston, Qirg'iziston, Mongoliya, Tojikiston, Turkmaniston va O'zbekiston mamlakatlariga oid Gender ma'lumotlar resurslariga yo'naltiruvchi qo'llanma
 </p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Markaziy Osiyo va Mongoliya Gender Ma'lumotlar Portal (CAMGDP) Markaziy Osiyo va Mongoliya mamlakatlarida Gender ma'lumotlarni qidiruvchi ilmusharf, akademiklar, faoliyat yurituvchilar, talabalar va boshqa fuqarolar uchun mo'ljallangan. Portal Qozog'iston, Qirg'iziston, Tojikiston, Turkmaniston, O'zbekiston va Mongoliyada faoliyat yurituvchi xalqaro, milliy va mahalli darajadagi tashkilotlar, ma'lumot manbalari, ma'lumotli veb-saytlar, media chop etishlari va sifatli ma'lumot manbalari to'plab olgan. Mahalliy manbalarni xalqaro auditoriyaga taqdim etish va bu mamlakatlarning har birida mavjud bo'lgan turli manbalarni integratsiyalangan suratda ko'rsatish orqali, biz CAMGDPni jahon bo'ylab auditoriyaga foydali bo'lmasini umid qilamiz.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa fa-book" title="Qo'llanmalar" url="/guides/" %}}
CAMGDP resurs qo'llanmalarimizni o'qing
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-globe" title="Manbalar" url="/sources/" %}}
Resurslar ro'yxatini ko'rib chiqing yoki qidiruvni boshlang
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Takliflar qabul qilinadi!" url="https://github.com/ryandata/camgdp_docsy" %}}
GitHub-dagi qurilma kod va materiallar - so'rovini yuboring (pull request) yoki biz bilan bog'lanish uchun podvaldagi havolalar orqali murojaat qilin.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Rasm krediti</h3>
<a href="https://www.mapchart.net/">MapChart</a> yordamida yaratilgan fon tasviri
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-10">
<h3>Chiqarish ma'lumotlari</h3>
Bu 2024-05-24 yildagi CAMGDP 0.3 <a href="/release">versiyasi</a>
</div>

{{< /blocks/section >}}
